.box-white{
    width: 97%;
    height: 48px;
    margin-left: 16%;
    margin-top: 39px;
    background-color: #FFF;
    display: flex;
    justify-content: end;
    align-items: center;
    border-radius: 46px 0px 0px 46px;
    font-family: 'Advent Pro', sans-serif;    
    border-color: #F3F3F3!important;
    font-size: 18px;
    font-weight: bold;
}
.icon-fit{
    margin-left: 2%;
    margin-right: 2%;
}
.box-green{
    width: 90%;
    height: 48px;
    margin-left: 16%;
    margin-top: 10px;
    background-color: #2EAFB2;
    display: flex;
    justify-content: end;
    align-items: center;
    border-radius: 10px;
    color: #F3F3F3;
    font-family: 'Advent Pro', sans-serif;
    border-color: #2EAFB2!important;
    font-size: 18px;
}