.box-white{
    width: 84%;
    height: 48px;
    margin-left: 16%;
    margin-top: 39px;
    background-color: #e5e5e5;
    display: flex;
    justify-content: end;
    align-items: center;
    border-radius: 46px 0px 0px 46px;
    font-family: 'Advent Pro', sans-serif;
    border-color: #e5e5e5!important;
    border-bottom: 0px solid;
    border-right: 0px;
    font-size: 18px;
    font-weight: bold;
}
.icon-fit{
    margin-left: 2%;
    margin-right: 2%;
}
.box-green{
    width: 78%;
    height: 48px;
    margin-left: 16%;
    margin-top: 10px;
    background-color: #2EAFB2;
    display: flex;
    justify-content: end;
    align-items: center;
    border-radius: 10px;
    color: #F3F3F3;
    font-family: 'Advent Pro', sans-serif;
    border-color: #2EAFB2!important;
    font-size: 18px;
}